# flyctl launch added from .gitignore
**/.env
**/.envrc
**/*.pem
**/*.key

data
**/*.db
**/*.sqlite
**/*.sqlite3
**/*-journal

bin
**/*.exe
**/*.test
**/*.out

vendor

**/*.log
logs

**/.vscode
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/Thumbs.db
**/ehthumbs.db
**/$RECYCLE.BIN
fly.toml
